body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-jogo {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mao {
    margin-top: 20px;
    font-size: 18px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #ffffff;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    font-weight: bold;
    margin-top: 20px;
    font-size: 20px;
}
